.mi_contenedor {
    @apply flex;
    @apply justify-center;
    height: 90vh;
}

.mi_titulo {
    @apply text-5xl font-bold;
}

.usuario {
    @apply font-medium;
    color: steelblue;
}

.dashboardImg {
    max-height: 500px;
}